body {
    font-family: sans-serif;
    background-color: rgb(17,17,17);
}
h1, h2, h3, h4, h5, h6, Div {
    color: lightblue;
}

a{
    color: magenta;
}

#variants_dropdown, #variants_more, #arts_dropdown{
    color: black;
    padding: 2px;
}